@keyframes animate-text-down {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate-image-right {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes nav-icon-animation {
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
