* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

a {
  color: $color-black;
  text-decoration: none;
}

h1,
h2 {
  font-family: $font-primary;
}

h2 {
  font-size: 5rem;
  padding-bottom: 3rem;
}

p {
  font-family: $font-secondary;
}

main {
  padding-top: 5rem;
}

section {
  margin-top: 10rem;
  text-align: center;
}
