// fonts
$font-primary: "SegoeUI";
$font-secondary: "Karla";

// colors
$color-primary-light: #303f9f;
$color-primary: #283593;
$color-primary-dark: #1a237e;

$color-black: #464646;
$color-white: #fff;
